<link rel="stylesheet" href="/css/home.css" />

<main>
  <!-- ----important links--- -->
  <section id="links-section"></section>

  <!-- ----feeds---- -->
  <section id="main-feeds">
    <div id="createPost">
      <form action="/post/content" method="post">
        <textarea
          name="content"
          cols="30"
          rows="3"
          placeholder="Create post"
        ></textarea>
        <button type="submit">Post</button>
      </form>
    </div>
    <div id="feeds">
      <% if(locals.data) { %> 
        <% const reversedPosts = post.reverse(); %> 
        <% for(let posts of reversedPosts){ %> 
           
          <%- include('_posts',{posts:posts}) %>
            
        <% } %>
      <% } %>
    </div>
  </section>

  <!-- ---- DM or chatbox--- -->
  <section id="chatbox"></section>
</main>

<script src="/js/home.js" async defer></script>
