<link rel="stylesheet" href="/css/login.css">

<div id="outer-container">
    <div id="welcome-section">  
      <h1>Welcome to Connect.</h1>
      <h2>connecting emotions..!</h2>  
    </div>
    
    <form action="/" method="post">
    <h1>Login</h1>
    <input type="email" required name="email" placeholder="Enter Email" autocomplete="off" autofocus>
    <input type="password" required name="password" placeholder="Enter Password">
    <button type="submit">Log in</button>
    <h3><a href="" class="link">Forgotten Password ?</a></h3>
    <h3>New to Connect? <span><a href="/signup" class="link">Sign up</a></span></h3>
    </form>

</div>
