
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#outer-container{

    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background: rgba(65, 105, 225, 0.9);
    /* background:url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80') no-repeat; */
    background:url('../images/login-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover; 
    filter: brightness(80%);
    

}

form > h1{

    color: rgba(255, 255, 255, 0.565);
}


form{

    height:88%;
    min-width:40%;
    background: rgba(16, 14, 14, 0.4);
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    padding-top: 10px;
    margin-top: 60px;
    border-radius: 5px;
    z-index: 10;
  
}
form:hover{
    box-shadow: 0px 0px 6px 1px rgba(232, 228, 228, 0.5);  
}
form:hover h1{
    /* box-shadow: 0px 0px 6px 1px rgba(232, 228, 228, 0.5);   */
    color: white;
}

#name{
    display: flex;
    width: 70%; 
    gap:10px;   
}

#subheading{
    margin-top: -20px;
}

input{
    width:70%;
    height:45px;
    padding-left: 10px;
    font-size: medium;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border:1px solid rgba(255, 255, 255, 0.623);
    color: rgb(252, 250, 250);
    /* font-weight: 900; */
    margin-top: -10px;
    
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.8);
}

input:focus{
    outline: none;
    background-color:rgba(255, 255, 255, 0.1);
    
}


button{
    width: 70%;
    height:50px;
    background-color: rgba(40, 214, 40, 0.619);
    /* box-shadow: 1px 3px 5px 3px rgba(249, 243, 243, 0.285); */
    border:none;
    color: white;
    font-weight: bold;  
    font-size: large;
    border-radius: 5px;
    letter-spacing: 1.1px;
    transition: all 0.5s;
    font-family: sans-serif;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

button:hover{
    background-color: rgba(40, 214, 40, 0.8);
    transform: scale(.98);
    border-radius: 20px;

}

form h3{
    font-size: medium;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 20px;
   
}

.link{
    color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all .4s;
}

.link:hover{
    color:white;
    text-decoration: underline;
}
